
/Source/Glimpse.SignalR.Sample/obj
/Source/Glimpse.SignalR.Sample/bin
/Glimpse.SignalR.ncrunchsolution
/Glimpse.SignalR.ncrunchsolution.user
/Glimpse.SignalR.v11.suo
/Source/Glimpse.SignalR/obj
/Source/Glimpse.SignalR/bin
/_ReSharper.Glimpse.SignalR
/Source/Glimpse.SignalR.Sample/Glimpse.SignalR.Sample.csproj.user