
/Source/Glimpse.SignalR.Sample/obj
/Source/Glimpse.SignalR.Sample/bin
/Source/Glimpse.SignalR.ncrunchsolution
/Source/Glimpse.SignalR.ncrunchsolution.user
/Source/Glimpse.SignalR.v11.suo
/Source/Glimpse.SignalR/obj
/Source/Glimpse.SignalR/bin
/Source/_ReSharper.Glimpse.SignalR
/Source/Glimpse.SignalR.Sample/Glimpse.SignalR.Sample.csproj.user
/Source/Glimpse.SignalR.6.0.ReSharper.user
/Source/Glimpse.SignalR.sln.DotSettings.user
/Source/Glimpse.SignalR.sln.docstates.suo
/Source/Glimpse.SignalR.suo
/Source/Glimpse.SignalR.Sample/Glimpse.SignalR.Sample.csproj.DotSettings.user
/Source/Glimpse.SignalR/Glimpse.SignalR.csproj.DotSettings.user

/NuGet - API key.txt